<style type="text/css" media="screen">
	#picList{
		margin-top:65px;
	}
	.form-group .pic_list{
		display:inline;
	}
	.form-group .pic_list:first-child{
		margin-left:19%;
	}
	.form-group .pic_list .pic_del{
		
		display: inline-block;
	    position: relative;
	    top: -63px;
	    left: 69px;
	    background: #DBEAF9;
	    width: 48px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	}
</style>
<ul class="list-group" >
    <li class="list-group-item list-group-item-success"><h4 style="margin:0;">自定义菜单</h4></li>
</ul>
<form id="myForm" class="form-horizontal" method="post" action="__APP__/WeiXinManage/createMenu.html" enctype="multipart/form-data">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="presentation active"><a >主菜单栏一</a></li>
	  <li role="presentation" class="presentation"><a >主菜单栏二</a></li>
	  <li role="presentation" class="presentation"><a >主菜单栏三</a></li>
	</ul>
	<!-- 主菜单栏一的二级菜单 -->
	<div class="row menu_from">
		<h3><p class="text-center">一级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<h3><p class="text-center">二级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
	<div class="row menu_from" style="display:none;">
		<h3><p class="text-center">一级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<h3><p class="text-center">二级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
	<div class="row menu_from" style="display:none;">
		<h3><p class="text-center">一级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<h3><p class="text-center">二级菜单</p></h3>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单名称</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-3">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单类型</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
					<div class="col-lg-6">
						<label for="inputEmail3" class="col-sm-5 control-label">菜单链接</label>
						<div class="col-sm-7">
						  	<input type="text" name="total" value="" class="form-control" id="total" placeholder="输入标签总数量">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
		  	<button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 12%;margin: 0 auto;">提交</button>
		</div>
	</div>
</form>

<script>
	$(function(){
		
	  	$('#myForm').submit(function() {
	  		var total = is_empty('#total');
	  		var min_num = is_empty('#min_num');
	  		
	  		if(total === false){
	  			showMsg('标签总数量不能为空!');
	  			return false;
	  		}
	  		if(min_num === false){
	  			showMsg('小标数量不能为空!');
	  			return false;
	  		}
	  		 
	  		$(this).ajaxSubmit(function(data){
                showMsg(data.msg);
                console.log(data);
	  		}); 

		    //防止页面刷新
		    return false;
	   	});

	   	//主菜单栏切换
	   	$('.presentation').on('click',function(e){
	   		var index = $(this).index();
	   		$(this).siblings('.presentation').removeClass('active');
	   		$(this).addClass('active');

	   		$('.menu_from').hide();
	   		$('.menu_from').eq(index).show();
	   		console.log(index);
	   	});


	});

</script>