<extend name="Public:base" />
<block name="header">
	<style type="text/css">
        .container{
            padding:0;
        }
        .table{
            padding:0 15px;
        }
        .searchGoods dd{
        	border-color: transparent;
		    border-bottom: 1px solid #e5e5e5;
		    border-top: 1px solid #e5e5e5;
		    line-height: 30px;
		    height: 30px;
		    margin-top: 10px;
        }
    </style>
	<link href="__PUBLIC__/Mobile/css/deliver.css" rel="stylesheet"/>
	<script src="__PUBLIC__/plug/zepto/1.1.6/zepto.js"></script>
	<include file="Public/header" />
	<block name="title"><title>__WEBNAME__-发货</title></block>
</block>
<block name="main">
	
	<!-- 开始 -->
		<div  class="container grid" "<{$total =0}>" >
	        <div class="searchResult">
	        	<if condition="$admin_lv neq 4">
		            <p class="receiveName">收货人:<{$agent_info['name']}></p>
		        </if>
          		<if condition="$is_agent neq 1">
		            <div class="row searchBox">
			            <div class="input-group searchInputBox mb10">
			                <input type="text" class="form-control" placeholder="输入商品名称" name="goods_name" id="goods_name" goods_id="0">
			                <span class="input-group-btn">
					            <button class="btn" type="submit">搜索</button>
				          	</span>
			            </div>
			            <div class="searchGoods hide">
							<dl>
								
							</dl>
		                 	<i class="delete close"></i>
			            </div>
			        </div>
			    </if>
	            <div class="rowA state">
	                <div class="col">状态：</div>
	                <div class="col fb far serialScan">连扫</div>
	            </div>
	            <div class="table-responsive">
	                <table class="table table-bordered">
						<thead>
		                    <tr>
		                        <th></th>
		                        <th>条码</th>
		                        <th>产品名称</th>
		                        <th>数量</th>
		                        <th>价格</th>
		                        <th>操作</th>
		                    </tr>
		                </thead>
		                <tbody id="deliver_goods">
							<volist name="goods_list" id="vo" key="k">
			                    <tr class="goodsList">
			                        <td><{$k}></td>
			                        <td><{$vo.code}></td>
			                        <td><{$vo.goods_name}></td>
			                        <td "<{$total = $total+$vo['goods_number']}>" ><{$vo.goods_number}></td>
			                        <td><{$vo.member_price}></td>
			                        <td><i class="delete del-goods" code="<{$vo.code}>" card_id="<{$vo.id}>"></i></td>
			                    </tr>
			                </volist>
			            </tbody>
	                </table>
	            </div>
	        </div>
		</div>

		<form id="myForm" class="form-horizontal" method="post" action="__APP__/DeliverGoods/deliverGoods.html" >
			<input type="hidden" name="agent_id" value="<{$agent_id}>">
			<div class="footer grid deliverFooter">
			    <div class="totalNum" number="<{$total}>">合计数量：<{$total}></div>
			    <div class="rowA">
			        <button type="button" class="col btn btn-submit btn-block wx_scanning">扫码</button>
			        <button type="submit" class="col btn btn-deliver btn-block">发货</button>
			    </div>
			</div>
		</form>
	
	<!-- 结束 -->

    <if condition="$is_weixin">
		<script src="__PUBLIC__/plug/weixin/js/jweixin-1.js"></script>
	    <script type="text/javascript">
	    	
	    		wx.config({
			      debug: <{$debug}>, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			      appId: '<{$wxjsinfo.appId}>', // 必填，公众号的唯一标识
			      timestamp: <{$wxjsinfo.timestamp}>, // 必填，生成签名的时间戳
			      nonceStr: '<{$wxjsinfo.nonceStr}>', // 必填，生成签名的随机串
			      signature: '<{$wxjsinfo.signature}>',// 必填，签名，见附录1
			      jsApiList: [
			        'checkJsApi',
			        'onMenuShareTimeline',
			        'onMenuShareAppMessage',
			        'onMenuShareQQ',
			        'onMenuShareWeibo',
			        'onMenuShareQZone',
			        'hideMenuItems',
			        'showMenuItems',
			        'hideAllNonBaseMenuItem',
			        'showAllNonBaseMenuItem',
			        'translateVoice',
			        'startRecord',
			        'stopRecord',
			        'onVoiceRecordEnd',
			        'playVoice',
			        'onVoicePlayEnd',
			        'pauseVoice',
			        'stopVoice',
			        'uploadVoice',
			        'downloadVoice',
			        'chooseImage',
			        'previewImage',
			        'uploadImage',
			        'downloadImage',
			        'getNetworkType',
			        'openLocation',
			        'getLocation',
			        'hideOptionMenu',
			        'showOptionMenu',
			        'closeWindow',
			        'scanQRCode',
			        'chooseWXPay',
			        'openProductSpecificView',
			        'addCard',
			        'chooseCard',
			        'openCard'
			      ]
			  });
	    	

			function convertImgToBase64(url, callback, outputFormat){ 
			  var canvas = document.createElement('CANVAS'); 
			  var ctx = canvas.getContext('2d'); 
			  var img = new Image; 
			  img.crossOrigin = 'Anonymous'; 
			  img.onload = function(){ 
			    canvas.height = img.height; 
			    canvas.width = img.width; 
			    ctx.drawImage(img,0,0); 
			    var dataURL = canvas.toDataURL(outputFormat || 'image/png'); 
			    callback.call(this, dataURL); 
			    canvas = null; 
			  }; 
			  img.src = url; 
			} 
		</script>
	</if>
    <script type="text/javascript">
    	var goods_arr = [];
    	Array.prototype.remove=function(val){
		    var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
		} 

    	$(function(){
		 	$('.container').on('click','.serialScan',function(){
		        //$('.radioIcon').removeClass('active');
		        $(this).toggleClass('active');
		    })

    		$('.wx_scanning').click(function(event) {
    			// 9.1.2 扫描二维码并返回结果
    			scanning();
				
    		});

    		//删除发货商品
    		$(document).on("click",".del-goods",function(e){
			    if(confirm('您确定要删除吗!')){
			    	var _this = $(this);
			    	var id = _this.attr('card_id');
			    	var aid = '<{$agent_id}>';
			    	
    				$.post('__APP__/DeliverGoods/delCardGoods.html', {id:id,aid:aid}, function(data) {
    					showMsg(data.msg);
    					if(data.status == 1){
    						var goods_total_number = parseInt($('.totalNum').attr('number'));
    						var goods_number = parseInt(data.result.goods_number);
			  				goods_total_number = goods_total_number-goods_number;
			  				$('.totalNum').html('合计数量：'+goods_total_number);
							_this.parents('.goodsList').remove();	

    					}
    				});
    			}
		  	});
    		
    		function scanning(){
    			if(isWeiXin()){
    				wx.scanQRCode({
					  needResult: 1,
					  desc: 'scanQRCode desc',
					  success: function (res) {
					  	var result = res.resultStr;
					  	var is_bool = result.indexOf(",");
					  	if(is_bool >= 0){
					  		var new_result = result.split(',');
				  			var min_code = new_result[1];  //获取一维码号码
					  	}else{
					  		var new_result1 = result.split('?');
				  			var new_result2 = new_result1[1].split('&');  //获取一维码号码
				  			var new_result3 = new_result2[0].split('=');  //获取一维码号码
				  			var min_code = new_result3[1];  //获取一维码号码
					  		// var min_code = parseInt(result.match(/^code=\d+/g));
					  	}
					  
					  	if(min_code){

					  		var goods_id = $('#goods_name').attr('goods_id');
					  		var is_agent = '<{$is_agent}>';
					  		var agent_id = '<{$agent_id}>';
					  	
					  		if(goods_id == 0 && is_agent == 0){
					  			showMsg('请先选择商品!');
					  			return false;
					  		}


					  		$.post('__APP__/DeliverGoods/verifyCode.html', {code: min_code,goods_id:goods_id,is_agent:is_agent,agent_id:agent_id}, function(data) {
					  			if(data.status == 1){
				  					var goods_count = $('#deliver_goods .goodsList').length+1;
					  				var goods_name = $('#goods_name').val();
					  				var card_id = 0;
					  				var goods_total_number = parseInt($('.totalNum').attr('number'));
					  				var goods_number = 0;
					  				var member_price = 0;
							  		// var goods_pic = $('#goods_name').attr('pic');
							  		
							  		// alert(JSON.stringify(data.result));
							  		if(data.result){
						  				goods_id = data.result.id;
						  				goods_pic = data.result.index_pic;
						  				goods_name = data.result.goods_name;
						  				card_id = data.result.card_id;
						  				member_price = data.result.member_price;
						  				goods_number = parseInt(data.result.goods_number);
						  				goods_total_number = goods_total_number+goods_number;
						  				$('.totalNum').html('合计数量：'+goods_total_number);
							  		}
							  
							  		// if(!goods_id){
							  		// 	showMsg('请先选择商品!');
							  		// 	return false;
							  		// }
							  		
							  		var goods_html = '<tr class="goodsList">';
				                        goods_html += '<td>'+goods_count+'</td>';
				                        goods_html += '<td>'+min_code+'</td>';
				                        goods_html += '<td>'+goods_name+'</td>';
				                        goods_html += '<td>'+goods_number+'</td>';
				                        goods_html += '<td>'+member_price+'</td>';
				                        goods_html += '<td><i class="delete del-goods" code="'+min_code+'" card_id="'+card_id+'"></i></td>';
				                    	goods_html += '</tr>';
		                    		
							  		$('#deliver_goods').append(goods_html);
							  		
							  		//1.5秒后再调用
						  			var is_continuity = $('.serialScan').hasClass('active'); //判断是否选择连续扫码
						  			
						  			if(is_continuity){
						  				setTimeout(function(){
								  			scanning();
								  		},1500);
							  		
						  			}
							  		
					  			}else{
					  				showMsg(data.msg);
					  			}
					  		});

					  		// scanning();
  							return false;
					  		
					  	}
					    // alert(JSON.stringify(res));
					  }
					});
				
    			}
    		}

    		//提交
    		$('#myForm').submit(function() {
    			
		  		var goods_count = $('#deliver_goods .goodsList').length;
		  		if(goods_count == 0){
		  			showMsg('请选择商品!');
		  			return false;
		  		}

		  		if(confirm('请您核对好商品,您确定要发货吗?')){
			  		$(this).ajaxSubmit(function(data){
			  		
		                showMsg(data.msg);
		                console.log(data);
		                if(data.status == 1){
		                	if(data.result.prize_code_sucess == 1){
		                		location.href = '__APP__/AgentManage/cashPrizeList.html';
		                	}else{
	                			location.href = '__APP__/DeliverGoods/showOrderInfo.html?order_id='+data.result.order_id;
		                	}
		                	
		                }
			  		}); 
			  	}
			    //防止页面刷新
			    return false;
		   	});

    		//搜索商品
    		$('.container').on('input','.form-control',function(){
    			var _this = $(this).parents('.searchBox');
		        _this.find('.searchGoods').addClass('show').removeClass('hide');
		        var goods_name = $(this).val();
		        if(goods_name == ''){
		            _this.find('.searchGoods').addClass('hide').removeClass('show');
		        }else{
		        	
		        	$.post('__APP__/DeliverGoods/searchGoods.html', {goods_name: goods_name}, function(data) {
		        		var html = '';
		        		if(data.status == 0){
		        			html = '<dd>'+data.msg+'</dd>';
		        		}else{
		        			var goods_len = data.result.length;
		        			for(var k=0;k<goods_len;k++){
		        				html += '<dd goods_id="'+data.result[k].id+'" pic="'+data.result[k].index_pic+'">'+data.result[k].title+'</dd>'
		        			}
		        		}
		        		console.log(html);
		        		_this.find('dl').html(html);
		        		
		        	});
		        }
		    }).on('click','.searchGoods dl dd',function(){
		        $(this).parents('.form-group').find('.form-control').val($(this).text());
		        $(this).parents('.searchBox').addClass('hide').removeClass('show');
		        var goods_id = $(this).attr('goods_id');
		        var pic = $(this).attr('pic');
		        $('#goods_name').attr('goods_id', goods_id);
		        $('#goods_name').attr('pic', pic);
		    }).on('click','.searchGoods .close',function(){
		        $(this).parent('.searchGoods').addClass('hide').removeClass('show');
		    })
    	});

    </script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>