<extend name="Public:base" />
<block name="title"><title>代理商查询</title></block>
<block name="header">
	<link href="__PUBLIC__/Mobile/css/balanceRecord.css" rel="stylesheet"/>
    <!-- <include file="Public/agentHeader" /> -->
</block>
<block name="main">
	<div class="table-responsive partner">
	    <div class="table-title">查询结果</div>
	    <if condition="$agent_info['stat'] eq 1">
		    <table class="table table-bordered">

		        <tr>
		            <td>代理人姓名：</td>
		            <td><{$agent_info.name}></td>
		        </tr>
		         <tr>
		            <td>代理人微信：</td>
		            <td><{$agent_info.weixin}></td>
		        </tr>
		         <tr>
		            <td>代理人级别：</td>
		            <td><{$agent_info.agent_lv_name}></td>
		        </tr>

		    </table>
		    <p class="text-center" style="width: 80%;margin: 0 auto;margin-top: 10px;margin-bottom: 10px;"><{$notice_msg}></p>
		</if>
     	<div class="accreditImg">
	    	<if condition="$auth_img">
		        <img src="<{$auth_img}>">
		        <p class="text-center">(手机长按授权书保存)</p>
		    </if>
	    </div>
	</div>
	
    <script type="text/javascript">
    	$(function(){
    		
    	});

    </script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>