<extend name="Public:base" />
<block name="title"><title>产品名片查询</title></block>
<block name="header">
    <include file="Public/agentHeader" />
</block>
<block name="main">
	<div class="container productCardSearchDetail">
		<if condition="$goods_info">
			<ul>
			    <li><label>代理名称:</label><span><{$agent_info.name}></span></li>
			    <li><label>代理微信:</label><span><{$agent_info.weixin}></span></li>
			    <li><label>授权编号:</label><span><{$agent_info.agentno}></span></li>
			    <!-- <li><label>代理电话:</label><span><{$agent_info.tel}></span></li> -->
			    <li class="row-default"><label>产品名称:</label><span class="ellipsis"><{$goods_info.title}></span></li>
			    <li><div class="thumb"><img src="<{$goods_info.index_pic}>" /> </div> </li>
			    <li><label>全国统一零售价:</label><span><{$goods_info.mark_price}>元</span></li>
			</ul>
		<else />
			<h3>没有查询到结果</h3>
		</if>
	</div>
    <script type="text/javascript">
    	$(function(){

    	});

    </script>
</block>
<block name="footer">
  <include file="Public/footer" />
</block>