<extend name="Public:base" />
<block name="title"><title>发货</title></block>
<block name="header">
    <link href="__PUBLIC__/Mobile/css/userCenter.css" rel="stylesheet"/>
    <script src="__PUBLIC__/Mobile/js/countDown.js"></script>
    <style type="text/css">
        body{
            background-color: #fff;
        }
    </style>
	<include file="Public/header" />
    <!-- <include file="Public/agentHeader" /> -->
</block>
<block name="main">
	<div class="container changePassword">
	    <form class="inputBox grid" id="myForm" method="post" action="__APP__/Profile/editPassword.html">
	        <!-- <div class="rowA"><div class="col"><input type="text" name="userName" class="mobile" value="18888888888" /></div> </div> -->
	        <div class="rowA"><div class="col"><input type="password" name="password" id="password" placeholder="设置新密码" /></div> </div>
	        <div class="rowA"><div class="col"><input type="password" name="confir_password" id="confir_password" placeholder="确认新密码" /></div> </div>
	        <!-- <div class="rowA">
	        	<div class="col col-17">
	        		<input type="text" name="password" placeholder="请输入新密码" />
        		</div>
        		<div class="col col-7 fb fvc fac getVerCode">获取验证码</div> 
    		</div> -->
	        <input type="submit" value="修改密码" class="submit" />
	    </form>
	</div>
	<script>
		$(function(){
				$('#myForm').submit(function() {
    				
			  		var password = is_empty('#password');
			  		if(password === false){
			  			showMsg('请输入设置新密码!');
			  			return false;
			  		}

			  		var password2 = is_empty('#confir_password');
			  		if(password2 === false){
			  			showMsg('请输入确认新密码!');
			  			return false;
			  		}

			  		if(password != password2){
			  			showMsg('登录密码与确认登录密码不一致!');
			  			return false;
			  		}

			  		$(this).ajaxSubmit(function(data){
		  				showMsg(data.msg);
		  				if(data.status == 1){
		  					location.href = '__APP__/Profile/index.html';
		  				}
		                console.log(data);
			  		}); 

				    //防止页面刷新
				    return false;
			  		
			   	});
		});

	    var count_down_time=0;
	    $('.getVerCode').on('click',function(event){
	        event.preventDefault();
	        if(count_down_time == 0){
	            sendVerCode($(this));
	        }
	    })

	    function startCountDown(btn){
	        (new CountDown({
	            time: 60,
	            change: function(){
	                count_down_time = this.time;
	                btn.text(this.time + '秒');
	                return this;
	            },
	            end: function(){
	                btn.text('发送验证码').removeClass('disable');
	                return this;
	            }
	        })).start();
	    }

	    function sendVerCode(btn){
	        var mobile = $('.mobile'),
	             vmobile = $.trim(mobile.val());

	        if (!vmobile) {
	            alert(mobile.attr('placeholder'));
	            return false;
	        } else if (!/^[\d]{11}$/gi.test(vmobile)) {
	            alert('请输入正确的手机号码！');
	            return false;
	        }
	        btn.addClass('disable').text('正在处理..');
	        startCountDown(btn)
	    }
	</script>

</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>