<extend name="Public:base" />
<block name="title"><title>我的资料</title></block>
<block name="header">
    <header>
		<p>
			<div>
				<span>KUDOUYS</span>
				酷兜云商
			</div>
			<span class="m-logout"><a href="__APP__/Login/logout.html">退出</a></span>
		</p>

	</header>
</block>
<block name="main">
	<div class="container juniorAgentEdit" style="margin-bottom: 80px;">
		<form id="myForm" class="form-horizontal" method="post" action="__APP__/Profile/editPassword.html">
    		<input type="hidden" name="agentid"  value="<{$member_info.agentid}>">
    		<fieldset disabled>
		        <div class="input-group ">
		            <span class="input-group-btn">
		                   <label  class="control-label">代理姓名:</label>
		                </span>
		            <input type="text" class="form-control"  value="<{$member_info.name}>">
		        </div>
		        <div class="input-group ">
		            <span class="input-group-btn">
		                   <label  class="control-label">代理微信:</label>
		                </span>
		            <input type="text" class="form-control"  value="<{$member_info.weixin}>">
		        </div>
		        <div class="input-group ">
		            <span class="input-group-btn">
		                   <label  class="control-label">代理星级:</label>
		                </span>
		            <input type="text" class="form-control"  value="<{$member_info.agent_lv_name}>">
		        </div>
		        <div class="input-group ">
		            <span class="input-group-btn">
		                   <label  class="control-label">开始时间:</label>
		                </span>
		            <input type="text" class="form-control"  value="<{$member_info.start_date_time}>">
		        </div>
		        <div class="input-group ">
		            <span class="input-group-btn">
		                   <label  class="control-label">结束时间:</label>
		                </span>
		            <input type="text" class="form-control"  value="<{$member_info.end_date_time}>">
		        </div>
		    </fieldset>
	        <div class="input-group ">
	            <span class="input-group-btn">
	                   <label  class="control-label">修改密码:</label>
	                </span>
	            <input type="password" class="form-control password" name="password"  placeholder="输入新密码">
	        </div>
	        <div class="input-group ">
	            <span class="input-group-btn">
	                   <label  class="control-label">确认密码:</label>
	                </span>
	            <input type="password" class="form-control password2" name="confir_password"  placeholder="再次输入新密码">
	        </div>

	        <div class="row-default">
	            <button type="submit" class="btn  btn-block">确定修改</button>
	        </div>
	    </form>
	</div>
    <script type="text/javascript">
    	$(function(){
    		$('.container').on('click','.btn',function(){
    			$('#myForm').submit(function() {
    				var password = $('.password').val();
    				var password2 = $('.password2').val();
			  		if(password == '' || password2 == ''){
			            showMsg('请输入密码');
			            return false;
			        }if(password != password2){
			            showMsg('两次输入的密码不一致，请重新输入');
			            return false;
			        }


			  		$(this).ajaxSubmit(function(data){
		                showMsg(data.msg);
		                console.log(data);
			  		}); 

				    //防止页面刷新
				    return false;
			  		
			   	});
		        
		    })
    	});

    </script>
</block>
<block name="footer">
  <include file="Public/footer" />
</block>