<extend name="Public:base" />
<block name="title"><title>我的资料</title></block>
<block name="header">
	<link href="__PUBLIC__/Mobile/css/userCenter.css" rel="stylesheet"/>
	<include file="Public/header" />
    <header class="grid">
        <div class="user-photo">
        	<if condition="$member_info['head_img']">
        		<img src="<{$member_info['head_img']}>"/>
        	<else/>
        		<img src="__PUBLIC__/Mobile/images/home_pic.png"/>
    		</if>
        	<p><{$member_info.name}></p> 
    	</div>
        <ul class="rowA">
            <li class="col"><span class="level icon">等级</span><{$member_info['agent_lv_name']}></li>
            <li class="col"><span class="team icon">团队</span><{$member_info['team_name']}></li>
            <li class="col"><span class="superior icon">上级</span><{$member_info['parent_name']}></li>
        </ul>
    </header>
</block>
<block name="main">
	<section class="grid">
	    <dl class="list">
	    	<!-- 只有官方才能看到推荐 -->
	    	<if condition="$member_info['agent_grade'] eq 1">
		        <dd class="rowA" onclick="location.href='__APP__/Profile/directRecommon.html'"><div class="col">关联推荐</div><div class="col-5 fb fvc arrow-gray-right"></div></dd>
		    </if>
	        <dd class="rowA" onclick="location.href='__APP__/Profile/editPasswordView.html'"><div class="col">帐号密码</div><div class="col-5 fb fvc arrow-gray-right"></div></dd>
	        <dd class="rowA" onclick="location.href='__APP__/Login/logout.html'"><div class="col">退出帐号</div><div class="col-5 fb fvc arrow-gray-right"></div></dd>
	    </dl>
	</section>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>