<ul class="list-group" >
    <li class="list-group-item list-group-item-success"><h4 style="margin:0;">管理员列表</h4></li>
</ul>
<form id="myForm" class="form-inline" method="post" action="__APP__/System/index.html" enctype="multipart/form-data">
  
  <div class="form-group">
    <label for="account">管理员账号</label>
    <input type="text" class="form-control" size="2" id="account" name="account">
  </div>
  <div class="form-group">
    <label for="companyName">管理员姓名</label>
    <input type="text" class="form-control" size="2" id="companyName" name="companyName">
  </div>
 
  <button type="submit" class="btn btn-default">搜索</button>
</form>
<div class="panel panel-default" style="margin-top: 20px;">
	<table class="table">
        <thead>
          <tr>
            <th>管理员ID</th>
            <th>管理员姓名</th>
            <th>管理员账号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        	<volist name="list" id="vo">
				<tr>
					<th scope="row"><{$vo.userid}></th>
					<td><{$vo.companyname}></td>
					<td><{$vo.username}></td>
					<td>
                        <button type="button" data_id ="<{$vo.userid}>" class="btn btn-info edit_data">修改</button>
                    </td>
				</tr>
			</volist>
        </tbody>
  	</table>
</div>
<nav>
  <ul class="pagination">
    <{$page}>
  </ul>
</nav>
<script>
	$(function(){

	  	//分页
	    $('.pagination li').click(function(){
	    	
	        var page = $(this).children('a').attr('page');
	        var class_name = $(this).attr('class');

	        if(class_name != 'active'){
		        LoadPage('__APP__/MakeCode/index.html',{'p': page});
	        }
	        
	    });

        //编辑管理员
	    $('.edit_data').click(function(){
            var id = $(this).attr('data_id');

            if(id == ''){
                alert('请选择管理员');
                return false;
            }

            LoadPage('__APP__/System/editUserView.html',{'id':id});
            
        });

	    //搜索
	    $('#myForm').submit(function() {
		  		 
	  		$(this).ajaxSubmit(function(data){
               $('.main .container-fluid').html(data);
	  		}); 

		    //防止页面刷新
		    return false;
	   	});
	      
	});

</script>