<ul class="list-group" >
    <li class="list-group-item list-group-item-success"><{$title}><h4 style="margin:0;"></h4></li>
</ul>

<div class="panel panel-default" style="margin-top: 20px;">
	<table class="table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>等级</th>
            <th>购买者名称</th>
            <th>购买者等级</th>
            <th>订单号</th>
            <th>条码</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>时间</th>
            <th>状态</th>
            <th>总分润</th>
            <th>分润单价</th>
          </tr>
        </thead>
        <tbody>
        	<volist name="list" id="vo">
    				<tr>
    					<th scope="row">
                  <{$vo.profit_agent_name}>
                  (<{$vo.profit_agent_id}>)
              </th>
    					<td>
                   <{$vo.profit_agent_lv_name}>
              </td>
              <td><{$vo.buy_agent_name}></td>
              <td><{$vo.buy_agent_lv_name}>(<{$vo.buy_agent_lv}>)</td>
              <td><{$vo.order_sn}></td>
    					<td><{$vo.code}></td>
    					<td><{$vo.goods_name}> X <{$vo.goods_num}></td>
              <td><{$vo.goods_price}></td>
              <td><{$vo.goods_num}></td>
              <td><{$vo.year}>-<{$vo.month}>-<{$vo.day}></td>
    					<td><{$vo.status_name}></td>
              <td><{$vo.profit_total_money}></td>
              <td><{$vo.profit_money}></td>
    				</tr>
    			</volist>
        </tbody>
  	</table>
</div>
<nav>
  <ul class="pagination">
    <{$page}>
    <li>
  		<a>总记录数:<{$count}></a>
  	</li>
  </ul>
</nav>
<script>
	$(function(){
	  	//分页
	    $('.pagination li').click(function(){
	        var page = $(this).children('a').attr('page');
	        var class_name = $(this).attr('class');
	        var search_field = '<{$search.search_field}>';
	        var search_value = '<{$search.search_value}>';
	        var year = '<{$year}>';
	        var month = '<{$month}>';
          var is_profit = '<{$is_profit}>';
          var agent_id = '<{$agent_id}>';

	        if(class_name != 'active'){
		        LoadPage('__APP__/Finance/showAllDetail.html',{'p': page,'search_field':search_field,'search_value':search_value,'year':year,'month':month,'is_profit':is_profit,'agent_id':agent_id});
	        }
	        
	    });
  });

</script>