<ul class="list-group" >
    <li class="list-group-item list-group-item-success">分润导出管理<h4 style="margin:0;"></h4></li>
</ul>
<form id="myForm" class="form-inline" method="post" action="__APP__/Finance/exportProfitView.html" enctype="multipart/form-data">
    <input type="hidden" name="flag" value="<{$flag}>">
    
    <div class="form-group">
      <label for="exampleInputName2">
        <select class="form-control" name="search_field" id="search_field">
          <option value="weixin" <if condition="$search['search_field'] eq 'weixin'">selected</if> >微信号</option>
          <option value="cardNo" <if condition="$search['search_field'] eq 'cardNo'">selected</if> >身份证号</option>
          <option value="tel" <if condition="$search['search_field'] eq 'tel'">selected</if> >手机号</option>
          <option value="name" <if condition="$search['search_field'] eq 'name'">selected</if> >姓名</option>
          <option value="agentId" <if condition="$search['search_field'] eq 'agentId'">selected</if> >会员ID</option>
        </select>
      </label>
      <input type="text" class="form-control" id="search_value" name="search_value" value="<{$search.search_value}>">
    </div>
    <div class="form-group">
      <label for="year">年份</label>
        <select class="form-control" name="year" id="year">
            <option value="">--请选择--</option>
            <{$year_html}>
        </select>
    </div>
    <div class="form-group">
      <label for="month">月份</label>
      <select class="form-control" name="month" id="month">
        <option value="">--请选择--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>
  	<button type="submit" class="btn btn-default">搜索</button>
</form>

<div class="panel panel-default" style="margin-top: 20px;">
	<table class="table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>等级</th>
            <th>微信号</th>
            <th>手机</th>
            <th>时间</th>
            <th>提款金额</th>
           <!--  <th>提款姓名</th>
            <th>提款账户</th>
            <th>提款银行</th> -->
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        	<volist name="list" id="vo">
				<tr>
					<th scope="row"><{$vo.agentName}></th>
					<td><{$vo.lv_name}></td>
          <td><{$vo.weixin}></td>
          <td><{$vo.tel}></td>
					<td><{$vo.year}>-<{$vo.month}></td>
          <td><{$vo.company_profit}></td>
          <!-- <td><{$vo.bank_account}></td>
					<td><{$vo.agent_true_name}></td>
          <td><{$vo.bank_name}></td> -->
          <td>

              <button class="btn btn-info" onclick='LoadPage("__APP__/Finance/showAllDetail.html",{year:<{$vo.year}>,month:<{$vo.month}>,is_profit:<{$vo.is_profit}>,agent_id:<{$vo.agent_id}>,title:"<{$title}>"})'>详情</button>
             
              <button class="btn btn-warning" onclick='window.location.href="__APP__/Finance/exportProfit.html?aid=<{$vo.agent_id}>&is_profit=1"'>导出与分润</button>
              <button class="btn btn-warning" onclick='window.location.href="__APP__/Finance/exportProfit.html?aid=<{$vo.agent_id}>&is_profit=0"'>导出不分润</button>
              
              
          </td>
				</tr>
			</volist>
        </tbody>
  	</table>
</div>
<nav>
  <ul class="pagination">
    <{$page}>
    <li>
		<a>总记录数:<{$count}></a>
	</li>
  </ul>
</nav>
<script>
	$(function(){
        var search_field = '<{$search.search_field}>';
        var search_value = '<{$search.search_value}>';
        var year = '<{$year}>';
        var month = '<{$month}>';
        var flag = '<{$flag}>';
        var star = '<{$star}>';

	  	//分页
	    $('.pagination li').click(function(){
	        var page = $(this).children('a').attr('page');
	        var class_name = $(this).attr('class');
	        

	        if(class_name != 'active'){
		        LoadPage('__APP__/Finance/exportProfitView.html',{'p': page,'flag':flag,'search_field':search_field,'search_value':search_value,'year':year,'month':month,'star':star});
	        }
	        
	    });

      //搜索
      $('#myForm').submit(function() {
           
        $(this).ajaxSubmit(function(data){
               $('.main .container-fluid').html(data);
        }); 

        //防止页面刷新
        return false;
      });

      //返利支付
      $('.pay_money').click(function(event) {
          var mpid = $(this).attr('mpid');
          
          if(confirm('您确定要支付吗?')){
            $.post('__APP__/Finance/payMoney.html', {mpid: mpid}, function(data) {
                alert(data.msg);
                if(data.status == 1){
                    LoadPage('__APP__/Finance/index.html',{'flag':flag,'search_field':search_field,'search_value':search_value,'year':year,'month':month});
                }
            });
          }
          
          return false;
      });

      //查询支付
      $('.check_pay').click(function(event) {
          var mpid = $(this).attr('mpid');
          
          $.post('__APP__/Finance/payCheck.html', {mpid: mpid}, function(data) {
              alert(data.msg);
              if(data.status == 1){
                  LoadPage('__APP__/Finance/index.html',{'flag':flag,'search_field':search_field,'search_value':search_value,'year':year,'month':month});
              }
          });

          return false;
      });
  });
</script>