<extend name="Public:base" />
<block name="title"><title>分润明细</title></block>
<block name="header">
    <link href="__PUBLIC__/Mobile/css/balanceRecord.css" rel="stylesheet"/>
	<include file="Public/header" />
    <!-- <include file="Public/agentHeader" /> -->
</block>
<block name="main">
	<div class="table-responsive recommend">
	    
	    <table class="table table-bordered">
	        <tr>
	            <th>时间</th>
	            <th>级别</th>
	            <th>姓名</th>
	            <th>出库数量</th>
	            <th>分润</th>
	        </tr>
	        <if condition="$list">
		        <volist name="list" id="vo" >
			        <tr>
			            <td><{$vo.add_time}></td>
			            <td><{$MEMBER_LEVEL[$vo['buy_agent_lv']]['name']}></td>
			            <td><{$vo.buy_agent_name}></td>
			            <td><{$vo.goods_num}></td>
			            <td>
			            	<if condition="$vo['is_refund'] eq 1">
			            		+
			            	<else />
			            		-
			            	</if>
			            	<{$vo.profit_total_money}>
		            	</td>
			        </tr>
			    </volist>
	       <else />
	       		<tr>
		            <td colspan="5">没有分润</td>
		        </tr>
	       </if>
	    </table>
	</div>
	<footer>
	    <p>分润：<span><{$count}></span></p>
	</footer>
	<script type="text/javascript">
	    
    	$(function(){
    		

    	});

    </script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>