@charset "UTF-8";
/******************重置*******************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
  display: inline-block; }

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 14px/1.5 Helvetica, 'STHeiti STXihei', 'Microsoft JhengHei', 'Microsoft YaHei', Tohoma, Arial; }

button, input, select, textarea {
  font-size: 100%; }

/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit; }

/* 去除默认边框 */
fieldset, img {
  border: 0; }

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block; }

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* 一致的 del 样式 */
del {
  text-decoration: line-through; }

address, caption, cite, em, code, dfn, th, var {
  font-style: normal;
  font-weight: 500; }

/* 去掉列表前的标识, li 会继承 */
ol, ul {
  list-style: none; }

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left; }

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

/* strong 和 b 的字体不加粗*/
strong, b {
  font-weight: normal; }

input[type="text"], input[type="tel"], input[type="password"], input[type="search"] {
  background: #fff;
  color: #666;
  /* width: 100%;
  border-radius: 5px; */
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

img {
  width: 100%; }

/***************************布局******************************/
.fb, .grid .rowA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.fvc {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.fac {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.far {
  -webkit-box-pack: end;
  -ms-flex-pack: edn;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.grid .rowA .col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  min-height: 1em; }
  .grid .rowA .col.col-1 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    width: 4%;
    -webkit-flex: 4;
    -ms-flex: 4;
    -webkit-box-flex: 4;
    flex: 4; }
  .grid .rowA .col.col-2 {
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    width: 8%;
    -webkit-flex: 8;
    -ms-flex: 8;
    -webkit-box-flex: 8;
    flex: 8; }
  .grid .rowA .col.col-3 {
    -webkit-box-flex: 12;
    -moz-box-flex: 12;
    width: 12%;
    -webkit-flex: 12;
    -ms-flex: 12;
    -webkit-box-flex: 12;
    flex: 12; }
  .grid .rowA .col.col-4 {
    -webkit-box-flex: 16;
    -moz-box-flex: 16;
    width: 16%;
    -webkit-flex: 16;
    -ms-flex: 16;
    -webkit-box-flex: 16;
    flex: 16; }
  .grid .rowA .col.col-5 {
    -webkit-box-flex: 20;
    -moz-box-flex: 20;
    width: 20%;
    -webkit-flex: 20;
    -ms-flex: 20;
    -webkit-box-flex: 20;
    flex: 20; }
  .grid .rowA .col.col-6 {
    -webkit-box-flex: 24;
    -moz-box-flex: 24;
    width: 24%;
    -webkit-flex: 24;
    -ms-flex: 24;
    -webkit-box-flex: 24;
    flex: 24; }
  .grid .rowA .col.col-7 {
    -webkit-box-flex: 28;
    -moz-box-flex: 28;
    width: 28%;
    -webkit-flex: 28;
    -ms-flex: 28;
    -webkit-box-flex: 28;
    flex: 28; }
  .grid .rowA .col.col-8 {
    -webkit-box-flex: 32;
    -moz-box-flex: 32;
    width: 32%;
    -webkit-flex: 32;
    -ms-flex: 32;
    -webkit-box-flex: 32;
    flex: 32; }
  .grid .rowA .col.col-9 {
    -webkit-box-flex: 36;
    -moz-box-flex: 36;
    width: 36%;
    -webkit-flex: 36;
    -ms-flex: 36;
    -webkit-box-flex: 36;
    flex: 36; }
  .grid .rowA .col.col-10 {
    -webkit-box-flex: 40;
    -moz-box-flex: 40;
    width: 40%;
    -webkit-flex: 40;
    -ms-flex: 40;
    -webkit-box-flex: 40;
    flex: 40; }
  .grid .rowA .col.col-11 {
    -webkit-box-flex: 44;
    -moz-box-flex: 44;
    width: 44%;
    -webkit-flex: 44;
    -ms-flex: 44;
    -webkit-box-flex: 44;
    flex: 44; }
  .grid .rowA .col.col-12 {
    -webkit-box-flex: 48;
    -moz-box-flex: 48;
    width: 48%;
    -webkit-flex: 48;
    -ms-flex: 48;
    -webkit-box-flex: 48;
    flex: 48; }
  .grid .rowA .col.col-13 {
    -webkit-box-flex: 52;
    -moz-box-flex: 52;
    width: 52%;
    -webkit-flex: 52;
    -ms-flex: 52;
    -webkit-box-flex: 52;
    flex: 52; }
  .grid .rowA .col.col-14 {
    -webkit-box-flex: 56;
    -moz-box-flex: 56;
    width: 56%;
    -webkit-flex: 56;
    -ms-flex: 56;
    -webkit-box-flex: 56;
    flex: 56; }
  .grid .rowA .col.col-15 {
    -webkit-box-flex: 60;
    -moz-box-flex: 60;
    width: 60%;
    -webkit-flex: 60;
    -ms-flex: 60;
    -webkit-box-flex: 60;
    flex: 60; }
  .grid .rowA .col.col-16 {
    -webkit-box-flex: 64;
    -moz-box-flex: 64;
    width: 64%;
    -webkit-flex: 64;
    -ms-flex: 64;
    -webkit-box-flex: 64;
    flex: 64; }
  .grid .rowA .col.col-17 {
    -webkit-box-flex: 68;
    -moz-box-flex: 68;
    width: 68%;
    -webkit-flex: 68;
    -ms-flex: 68;
    -webkit-box-flex: 68;
    flex: 68; }
  .grid .rowA .col.col-18 {
    -webkit-box-flex: 72;
    -moz-box-flex: 72;
    width: 72%;
    -webkit-flex: 72;
    -ms-flex: 72;
    -webkit-box-flex: 72;
    flex: 72; }
  .grid .rowA .col.col-19 {
    -webkit-box-flex: 76;
    -moz-box-flex: 76;
    width: 76%;
    -webkit-flex: 76;
    -ms-flex: 76;
    -webkit-box-flex: 76;
    flex: 76; }
  .grid .rowA .col.col-20 {
    -webkit-box-flex: 80;
    -moz-box-flex: 80;
    width: 80%;
    -webkit-flex: 80;
    -ms-flex: 80;
    -webkit-box-flex: 80;
    flex: 80; }
  .grid .rowA .col.col-21 {
    -webkit-box-flex: 84;
    -moz-box-flex: 84;
    width: 84%;
    -webkit-flex: 84;
    -ms-flex: 84;
    -webkit-box-flex: 84;
    flex: 84; }
  .grid .rowA .col.col-22 {
    -webkit-box-flex: 88;
    -moz-box-flex: 88;
    width: 88%;
    -webkit-flex: 88;
    -ms-flex: 88;
    -webkit-box-flex: 88;
    flex: 88; }
  .grid .rowA .col.col-23 {
    -webkit-box-flex: 92;
    -moz-box-flex: 92;
    width: 92%;
    -webkit-flex: 92;
    -ms-flex: 92;
    -webkit-box-flex: 92;
    flex: 92; }
  .grid .rowA .col.col-24 {
    -webkit-box-flex: 96;
    -moz-box-flex: 96;
    width: 96%;
    -webkit-flex: 96;
    -ms-flex: 96;
    -webkit-box-flex: 96;
    flex: 96; }
  .grid .rowA .col.col-25 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 25%;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; }
  .grid .rowA .col.col-33 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 33.33%;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; }
  .grid .rowA .col.col-50 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 50%;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; }

.arrow-white-right {
  background-size: 100%;
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-image: url("../images/next_gray_top.png"); }

.arrow-gray-right {
  background-size: 100%;
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-image: url("../images/next_gray_content.png"); }

body {
  background-color: #f6f6f6; }

.price:before {
  content: '￥'; }
