<ul class="list-group" >
    <li class="list-group-item list-group-item-success"><h4 style="margin:0;">代理商列表</h4></li>
</ul>
<form id="myForm" class="form-inline" method="post" action="__APP__/AgentManage/index.html" enctype="multipart/form-data">
	<div class="form-group">
	    <label for="exampleInputName2">代理星级</label>
	    <select class="form-control" name="star" id="star">
  			<option value="">--请选择--</option>
	  		<volist name="agent_lv_list" id="lvo">
		  		<option value="<{$lvo.lv}>" <if condition="$lvo['lv'] eq $search['star']">selected</if> ><{$lvo.name}></option>
		  	</volist>
		</select>
  	</div>
  	<div class="form-group">
	    <label for="exampleInputName2">
		    <select class="form-control" name="search_field" id="search_field">
		    	<option value="agentId" <if condition="$search['search_field'] eq 'agentId'">selected</if> >会员ID</option>
		    	<option value="weixin" <if condition="$search['search_field'] eq 'weixin'">selected</if> >微信号</option>
		  		<option value="cardNo" <if condition="$search['search_field'] eq 'cardNo'">selected</if> >身份证号</option>
		  		<option value="tel" <if condition="$search['search_field'] eq 'tel'">selected</if> >手机号</option>
		  		<option value="name" <if condition="$search['search_field'] eq 'name'">selected</if> >姓名</option>
		  		<option value="agentNo" <if condition="$search['search_field'] eq 'agentNo'">selected</if> >授权编号</option>
			</select>
		</label>
		<input type="text" class="form-control" id="search_value" name="search_value" value="<{$search.search_value}>">
  	</div>
  	<!-- <div class="form-group">
	    <label for="exampleInputEmail2">商品标题</label>
	    <input type="text" class="form-control" id="title" name="title">
  	</div> -->
  	<button type="submit" class="btn btn-default">搜索</button>
</form>
<div class="panel panel-default" style="margin-top: 20px;">
	<table class="table">
        <thead>
          <tr>
          	<th>ID</th>
            <th>姓名</th>
            <th>微信号</th>
            <th>手机号</th>
            <th>身份证号</th>
            <th>授权号码</th>
            <th>级别</th>
            <th>推荐人</th>
            <th>到期时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        	<volist name="list" id="vo">
				<tr>
					<th scope="row"><{$vo.agentid}></th>
					<th scope="row"><{$vo.name}></th>
					<td><{$vo.weixin}></td>
					<td><{$vo.tel}></td>
					<td><{$vo.cardno}></td>
					<td><{$vo.agentno}></td>
					<td><{$vo.lv_name}></td>
					<td><{$vo.parent_name}></td>
					<td><{$vo.date_end_time}></td>
					<td>
						<if condition="$search['stat'] neq -2">
							<button type="button" aid="<{$vo.agentid}>" class="btn btn-info next_agent">下级(<{$vo.agent_count}>)</button>
							<button type="button" aid="<{$vo.agentid}>" class="btn btn-info download">下载证书</button>
							<button type="button" aid="<{$vo.agentid}>" class="btn btn-info show_auth">查看证书</button>
						<else />
							<button type="button" aid="<{$vo.agentid}>" class="btn btn-warning adopt_agent">通过</button>
						</if>
						<button type="button" aid="<{$vo.agentid}>" class="btn btn-warning edit_agent">修改</button>
						<button type="button" aid="<{$vo.agentid}>" class="btn btn-danger del_agent">删除</button>
						<button type="button" aid="<{$vo.agentid}>" class="btn btn-info cash_prize_list">兑奖信息</button>
						<if condition="$vo['star'] eq 4">
							<button type="button" aid="<{$vo.agentid}>" class="btn btn-danger agent_cash_prize">立即兑奖</button>
						</if>
					</td>
				</tr>
			</volist>
        </tbody>
  	</table>
</div>
<nav>
  <ul class="pagination">
    <{$page}>
    <li>
		<a>代理总人数:<{$list_count}></a>
	</li>
  </ul>
</nav>
<script>
	$(function(){

	  	//分页
	    $('.pagination li').click(function(){
	        var page = $(this).children('a').attr('page');
	        var class_name = $(this).attr('class');
	        var pid = '<{$search.parent_id}>';
	        var search_field = '<{$search.search_field}>';
	        var search_value = '<{$search.search_value}>';
	        var star = '<{$search.star}>';
	        var stat = '<{$search.stat}>';

	        if(class_name != 'active'){
		        LoadPage('__APP__/AgentManage/index.html',{'p': page,'pid':pid,'search_field':search_field,'search_value':search_value,'star':star,'status':stat});
	        }
	        
	    });

	    //下级代理
	    $('.next_agent').click(function(){
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	        LoadPage('__APP__/AgentManage/index.html',{'pid':aid});
	        
	    });

	    //下载证书
	    $('.download').click(function(){
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	    	var url = '__APP__/AgentManage/downAuthBook.html?aid='+aid;
	    	window.open(url);

	    	return false;
	    });

	    //查看证书
	    $('.show_auth').click(function(){
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	        LoadPage('__APP__/AgentManage/showAuthBook.html',{'aid':aid});
	        
	    });


	    //修改
	    $('.edit_agent').click(function(event) {
	    	/* Act on the event */
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	    	LoadPage('__APP__/AgentManage/editAgentView.html',{'aid':aid});

	    });

	    //通过
	    $('.adopt_agent').click(function(event) {
	    	/* Act on the event */
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}

	    	if (confirm("是否确定通过"))  {  
		    	$.post('__APP__/AgentManage/adoptAgent.html', {aid: aid}, function(data) {
		    		alert(data.msg);
		    		if(data.status == 1){
		    			LoadPage("__APP__/AgentManage/index.html",{status:-2});
		    		}
		    	});
		    }

		    return false;
	    });

	    //删除
	    $('.del_agent').click(function(event) {
	    	/* Act on the event */
	    	var aid = $(this).attr('aid');

	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}

	    	if (confirm("是否确定删除"))  {  
		    	$.post('__APP__/AgentManage/delAgent.html', {aid: aid}, function(data) {
		    		alert(data.msg);
		    		if(data.status == 1){
		    			LoadPage("__APP__/AgentManage/index.html");
		    		}
		    	});
		    }

		    return false;

	    });

	    //兑奖列表信息 cash_prize
	    $('.cash_prize_list').click(function(event) {
	    	/* Act on the event */
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	    	LoadPage('__APP__/CashPrizeManege/index.html',{'aid':aid});

	    });

	    //代理兑奖
	    $('.agent_cash_prize').click(function(event) {
	    	/* Act on the event */
	    	var aid = $(this).attr('aid');
	    	if(aid == ''){
	    		alert('请选择代理');
	    		return false;
	    	}
	    	
	    	if (confirm("是否确定兑奖"))  {  
		    	$.post('__APP__/CashPrizeManege/cashPrize.html', {aid: aid}, function(data) {
		    		alert(data.msg);
		    		if(data.status == 1){
		    			LoadPage('__APP__/CashPrizeManege/index.html',{'aid':aid});
		    		}
		    	});
		    }

		    return false;

	    });

	    //搜索
	    $('#myForm').submit(function() {
		  		 
	  		$(this).ajaxSubmit(function(data){
               $('.main .container-fluid').html(data);
	  		}); 

		    //防止页面刷新
		    return false;
	   	});
	      
	});

</script>