<extend name="Public:base" />
<block name="title"><title>代理查询</title></block>
<block name="header">
	<link href="__PUBLIC__/Mobile/css/login.css" rel="stylesheet"/>
</block>
<block name="main">
	<div class="container">
	    <form class="inputBox" id="myForm" method="post" action="__APP__/Login/forgetPassword.html" enctype="multipart/form-data">
	        <input type="text" name="weixin" id="weixin" placeholder="输入微信号" />
	        <!-- <input type="password" id="password" name="password" placeholder="密码" /> -->
	        <!-- <p class="tips">温馨提示：登录成功后请尽快修改密码！</p> -->
	        <input type="submit"  value="密码重置" class="submit" />
	    </form>
	</div>
    <script type="text/javascript">
    	$(function(){
    		$('#myForm').submit(function() {
		  		// var name = is_empty('#name');
		  		var weixin = is_empty('#weixin');
		  		// var tel = is_empty('#tel');

		  		if(weixin === false){
		  			showMsg('请输入微信号!');
		  			return false;
		  		}

                $(this).ajaxSubmit(function(data){
                    showMsg(data.msg);
                    console.log(data);
                    if(data.status == 1){
                        document.location.href = '__APP__/Login/index.html';
                    }
                }); 

                return false;
		   	});
    	});

    </script>
</block>
<block name="footer">
	<!-- <include file="Public/footer" /> -->
</block>