<extend name="Public:base" />
<block name="title"><title>登录</title></block>
<block name="header">
    <include file="Public/agentHeader" />
</block>
<block name="main">
	<form id="myForm" class="form-horizontal" method="post" action="__APP__/Login/loginSub.html" enctype="multipart/form-data">
		<div class="container p40 nobg">
		    <div class="form-group onlyInput mt30P">
		        <input type="text" class="form-control" placeholder="微信号" name="name" id="name" />
		        <input type="password" class="form-control" placeholder="密码" name="password" id="password" />
		        <button type="submit" class="btn btn-primary  btn-block">登录</button>
		    </div>
		</div>
	</form>
    <script type="text/javascript">
    	$(function(){
    		$('#myForm').submit(function() {
		  		var weixin = is_empty('#name');
		  		var password = is_empty('#password');
		  		
		  		if(weixin === false){
		  			showMsg('微信号不能为空!');
		  			return false;
		  		}
		  		if(password === false){
		  			showMsg('密码不能为空!');
		  			return false;
		  		}
		  		   
		  		$(this).ajaxSubmit(function(data){
	                
	                console.log(data);
	                if(data.status == 1){
	                	location.href = '__APP__/AgentManage/index.html';
	                }else{
	                	showMsg(data.msg);
	                }
		  		}); 

			    //防止页面刷新
			    return false;
		   	});
    	});

    </script>
</block>
<block name="footer">
  <include file="Public/footer" />
</block>