<extend name="Public:base" />
<block name="title"><title>__WEBNAME__合伙人登录</title></block>
<block name="header">
    <link href="__PUBLIC__/Mobile/css/login.css" rel="stylesheet"/>
</block>
<block name="main">
	<div class="container">
    <div class="title"><img src="__PUBLIC__/Mobile/images/logo.png"/></div>
    <div class="user-photo"><img src="__PUBLIC__/Mobile/images/login_pic.png" /> </div>
	    <form class="inputBox" id="myForm" method="post" action="__APP__/Login/loginSub.html" enctype="multipart/form-data">
	        <input type="text" id="name" name="name" placeholder="微信号" />
	        <input type="password" id="password" name="password" placeholder="密码" />
	        <p class="tips">温馨提示：登录成功后请尽快修改密码！</p>
	        <input type="submit"  value="登录" class="submit" />
	    </form>
	</div>
<!-- 
	<form id="myForm" class="form-horizontal" method="post" action="__APP__/Login/loginSub.html" enctype="multipart/form-data">
		<div class="container p40 nobg">
		    <div class="form-group onlyInput mt30P">
		        <input type="text" class="form-control" placeholder="微信号" name="name" id="name" />
		        <input type="password" class="form-control" placeholder="密码" name="password" id="password" />
		        <button type="submit" class="btn btn-primary  btn-block">登录</button>
		    </div>
		</div>
	</form> -->
    <script type="text/javascript">
    	$(function(){
    		$('#myForm').submit(function() {
		  		var weixin = is_empty('#name');
		  		var password = is_empty('#password');
		  		
		  		if(weixin === false){
		  			showMsg('微信号不能为空!');
		  			return false;
		  		}
		  		if(password === false){
		  			showMsg('密码不能为空!');
		  			return false;
		  		}
		  		   
		  		$(this).ajaxSubmit(function(data){
	                
	                console.log(data);
	                if(data.status == 1){
	                	location.href = '__APP__/AgentManage/index.html';
	                }else{
	                	showMsg(data.msg);
	                }
		  		}); 

			    //防止页面刷新
			    return false;
		   	});
    	});

    </script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>