<extend name="Public:base" />
<block name="title"><title>代理后台</title></block>
<block name="header">
    <include file="Public/index_head" />
</block>
<block name="main">
  
<section class="main">
    <div class="notice grid" href="https://www.hao123.com/"><div class="rowA"><span>2016-06-26</span><p class="col">世界上只有一种成功，就是永不放弃！</p></div></div>
    <div class="my-income">
        <div class="title grid"><div class="rowA"><div class="month">我的收入(6月)</div><div class="col incomeDet"><div class="rowA"><div class="col"><span class="price">0</span>今日收入</div><div class="col"><span class="price">0</span>本月收入</div><div class="col"><span class="price">0</span>累计收入</div> </div> </div> </div> </div>
        <div id="my-income"></div>
    </div>
    <div class="tool grid">
        <div class="rowA"><div class="col all-tool itemIcon">常用功能</div> </div>
        <div class="rowA">
            <div class="col my-stock itemIcon">我的库存
                <div class="right arrow-gray-right"></div>
            </div>
            <div class="col my-stockRecord itemIcon">库存记录
                <div class="right arrow-gray-right"></div>
            </div>
        </div>
        <div class="rowA">
            <div class="col my-profit itemIcon">裂变分润
                <div class=" right arrow-gray-right"></div>
            </div>
            <div class="col my-newAgency itemIcon">新增代理
                <div class="right arrow-gray-right"></div>
            </div>
        </div>
        <div class="rowA">
            <div class="col my-balanceRecord itemIcon">结算记录
                <div class="right arrow-gray-right"></div>
            </div>
            <div class="col my-delivery itemIcon">扫码发货
                <div class="right arrow-gray-right"></div>
            </div>
        </div>
    </div>
    <div class="teamManage grid">
        <div class="title rowA"><div class="col teamIcon">团队管理</div><div class="col fb fvc far teamNum">团队人数：1000</div></div>
        <div class="table-responsive">
            <div class="table-title">我的大区合伙人（10）</div>
            <table class="table">
                <thead>
                <tr>
                    <th>排名</th>
                    <th>姓名</th>
                    <th>微信号</th>
                    <th>团队人数</th>
                    <th>出库数量</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="circle first">1</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle second">2</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle third">3</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">4</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">5</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">6</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">7</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">8</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                <tr>
                    <td><span class="circle">9</span></td>
                    <td>王小丫</td>
                    <td>600</td>
                    <td>500</td>
                    <td>17500</td>
                    <td><i class="arrow-gray-right"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    //图表
    var chart = echarts.init(document.getElementById('my-income'), null, {
        renderer: 'canvas'
    });
    var sampling = 'none';
    var timeData = [
        '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'
    ];
    chart.setOption({
        title: {
            text: '',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: true,
                type:'line',
                lineStyle: {
                    opacity: 0
                }
            }
        },
        legend: {
            data:['我的收入(6月)'],
            x: 'left'
        },
        textStyle: {
            color: '#54a5ff',
            fontSize: 12,
        },
        dataZoom: [
            {
                show: false,
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0]
            },
            {
                type: 'inside'
            }
        ],
        grid: [{
            left: -5,
            right: 0,
            top:10,
            height: '80%'
        }],
        xAxis : [
            {
                data: timeData,
                splitLine: {
                    show: false
                },
                axisTick: {
                    show: true,
                    interval: 'auto',
                    inside: false,
                    length: 5,
                    lineStyle: {
                        color: '#7c7c7c'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#7c7c7c'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#7c7c7c'
                    }
                }
            }

        ],
        yAxis : [
            {
                name : '',
                type : 'value',
                // max : 500
                splitLine: {
                    show: false
                },
                axisTick: {
                    show: true,
                    length: 5,
                    lineStyle: {
                        color: '#7c7c7c',
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#7c7c7c',

                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#7c7c7c',
                        width: 1,
                        type: 'solid',

                    }
                }
            }
        ],
        series : [
            {
                name:'日收入',
                type:'line',
                symbolSize: 8,
                lineStyle: {
                    normal: {
                        color: '#7c7c7c',
                        width: 1,
                        type: 'solid'
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#54a5ff'
                    }
                },
                data:[
                    10,14,16,10,5,19,61,50,70,104,50,43,95,50,4,5,17,19,18,20,55,196,50,400,25,16,18,188,200,150,34
                ]
            }
        ]
    });
</script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>