<extend name="Public:base" />
<block name="title"><title>新增代理</title></block>
<block name="header">
	<style type="text/css">
        .container{
            padding: 5% 0;
            width: 85%;
        }
    </style>
    <link href="__PUBLIC__/Mobile/css/newAgent.css" rel="stylesheet"/>
	<include file="Public/header" />
    <!-- <include file="Public/agentHeader" /> -->
</block>
<block name="main">
	<form id="myForm" class="form-horizontal" method="post" action="__APP__/AgentManage/makeInvite.html">	
		<div class="container">
		    <div class="form-group">
				
		            <p class="label-tit">申请级别:</p>
		            <select class="form-control" disabled="">
		                <option value="<{$lv_name}>"><{$lv_name}></option>
		            </select>

		            <p class="label-tit">代理姓名:</p>
		            <input type="text" class="form-control agentName" name="name" id="name" placeholder="请输入代理姓名"/>
		       
		    </div>
		</div>
		<div class="footer">
		    <button type="submit" class="btn btn-submit btn-block">下一步</button>
		</div>
	 </form>
	
    <script type="text/javascript">
    	$(function(){

			$('#myForm').submit(function() {
		  		var name = is_empty('#name');
		  		
		  		if(name === false){
		  			showMsg('请输入姓名!');
		  			return false;
		  		}

		  		$(this).ajaxSubmit(function(data){
		  			if(data.status == 1){
		  				// $('#hidden-content').show();
		  				// $('#invite-url').val(data.result.url);
		  				// $('#invite-code').val(data.result.code);
		  				location.href = data.result.url;

		  			}else{
		  				showMsg(data.msg);
		  			}
	                
	                console.log(data);
		  		}); 

			    //防止页面刷新
			    return false;
		  		
		   	});
		});


    </script>
</block>
<block name="footer">
  <!-- <include file="Public/footer" /> -->
</block>