<extend name="Public:base" />
<block name="title"><title>发货详情</title></block>
<block name="header">
</block>
<block name="main">
	<div class="container-fluid" style="background-color: #fff;">
		<if condition="$order_info">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8">发货单号:<{$order_info.order_sn}></div>
			</div>
			<div class="row  order-bottom">
				<div class="col-xs-12 col-sm-6 col-md-8">发货时间:<{$order_info.add_time}></div>
			</div>
			<volist name="list" id="vo">
				<div class="row goods-list">
					<div class="col-xs-4 col-md-4"><img src="<{$vo.index_pic}>" class="img-rounded" alt=""></div>
					<div class="col-xs-8 col-md-8">
						<div class="goods-name">商品名称:<{$vo.goods_name}></div>
						<div class="goods-price">商品价格:￥<{$vo.market_price}></div>
						<!-- <div class="goods-price">商品数量:<{$vo.goods_number}></div> -->
						<div class="goods-code">条形码:<{$vo.code}></div>
					</div>
				</div>
			</volist>
			
			<div class="row deliver-pepo">
				<div class="col-xs-12 col-md-12">收货人:<{$order_info.consignee}></div>
			</div>
		<else />
			<div class="row"><center><{$empty}></center></div>
		</if>
		
	</div>
    <script type="text/javascript">
    	$(function(){
    		
    	});

    </script>
</block>
<block name="footer">
  <include file="Public/footer" />
</block>